<!DOCTYPE HTML>
<html>
	<head>
		<title>Тестовое задание</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
    <body class="is-preload">

        <!-- Header -->
        <header id="header">
            <h1>Тестовое задание</h1>
            <p>
                Для записи в телефонную книгу<br />
                нужно зарегистрироваться или войти
            </p>
        </header>

        <!-- Signup Form -->
        @Html.Partial("_LoginPartialBeforeAuth")
       <!-- <form id="signup-form" method="post" action="#">
            <input type="email" name="email" id="email" placeholder="Email Address" />
            <input type="submit" value="Sign Up" />
        </form> -->

        <!-- Footer -->
       

    </body>
    <ul class="copyright">
        <li>&copy; Манзенков Тимофей</li>
    </ul>
</html>